@use '../../../node_modules/bootstrap/scss/bootstrap.scss';

/*Fonts*/

@font-face {
    font-family: 'Cereal Black';
    src:  url('../fonts/AirbnbCereal_W_Blk.otf');
}

@font-face {
    font-family: 'Cereal Bold';
    src:  url('../fonts/AirbnbCereal_W_Bd.otf');
}

@font-face {
    font-family: 'Cereal';
    src:  url('../fonts/AirbnbCereal_W_Lt.otf');
}

.black {
    font-family: 'Cereal Black';
}

.bold {
    font-family: 'Cereal Bold';
}

body {
    font-family: 'Cereal';
}

@media (max-width: 576px) {
    .search_button {
        font-size: 12px;
        width: 157px;
    }

    .center {
        padding-top: 25px;
    }

    .right {
        padding-top: 25px;
        margin-bottom: 30px;
    }

    .main_title {
        font-size: 20px;
    }

    .user_header {
        font-size: 13px;
    }

    .affitta_header {
        font-size: 13px;
        width: 150px;
    }

    
}

@media (max-width: 768px) {
    .search_button {
        font-size: 12px;
        width: 157px;
    }

    .center {
        padding-top: 25px;
    }

    .right {
        padding-top: 25px;
        margin-bottom: 30px;
    }

    .main_title {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    .search_button {
        font-size: 12px;
        width: 157px;
    }

    .center {
        padding-top: 25px;
    }

    .right {
        padding-top: 25px;
        margin-bottom: 30px;
    }

    .header_elements {
        display: flex;
        align-items: center;
    }

}

@media (max-width: 1200px) {
    .search_button {
        font-size: 12px;
    }


}