@use '../../../node_modules/bootstrap/scss/bootstrap.scss';

@media (max-width: 576px) {
    .search_button {
        font-size: 13px;
    }

    .center {
        padding-top: 25px;
    }

    .right {
        padding-top: 25px;
    }


}

@media (max-width: 768px) {
    .search_button {
        font-size: 13px;
    }

    .center {
        padding-top: 25px;
    }

    .right {
        padding-top: 25px;
    }


}